.card-collection {
    grid-row: 2;
    grid-column: 1/4;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card {
    min-width: 0;
    border: 2px solid var(--dark-1);
    flex-shrink: 1;
    flex-grow: 1;
    width: 40vh;
    height: 30vh;
    color: var(--dark-1);
    border-radius: 1rem;
    display: flex;
    padding: 0;
    flex-flow: column;
    background-color: var(--dark-4);
    overflow: hidden;
}

.title {
    background-color: var(--dark-3);
    margin: 0;
    align-self: stretch ;
}
.content, .update {
    padding: 0 1rem;
}
.content {
    text-align: left;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: clip;
}
.update {
    font-size: x-small;
    align-self: end;
}
