#root {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: min-content auto min-content;
    gap : 0.5rem;
    width: 90%;
    margin: 1rem auto;
    background-color: var(--dark-2);
    box-sizing: border-box;
}